.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* YourStyles.css */

.navbar-chart-icon {
  position: relative; /* Allow for absolute positioning of child elements */
  display: inline-block; /* Keep the elements in a horizontal line */
}

.cart-count {
  position: absolute;
  top: -10px;
  left: 29px;
  background-color: #ff5733;
  color: #fff;
  padding: 1px 6px; /* Adjust padding for better display */
  border-radius: 35%; /* Make it circular */
  font-size: 14px; /* Customize the font size */
  animation: pulse 1s infinite; /* Add pulsing animation */
}

.cart-icon {
  margin-left: 5px; /* Add spacing from the cart count */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
